.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: rgb(227, 227, 238);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-content .container{
    display:flex;
}

.modal .modal-content .container .card{
    text-align: center;
    margin-top: 120px;
}

.modal .modal-content .container .card img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    background: rgb(223, 215, 215);
    border-radius: 10px;
}

.modal .modal-content .container .card .pokemon-name {
    font-size:22px;
}

.modal .modal-content .container .information {
    margin-left: 15px;
}
.modal .modal-content .container .information .properties-pokemon{
    display:flex;
    justify-content:left;
}

.properties-pokemon .properties-tagByModal{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    margin-left: 8px;
    text-align: center;
}

.properties-tagByModal.grass{
    background: rgb(40, 228, 112);
}

.properties-tagByModal.poison{
    background: rgb(128, 13, 173);
    color: white;
}

.properties-tagByModal.fire{
    background: orange;
}

.properties-tagByModal.flying{
    background: rgb(7, 214, 241);
}

.properties-tagByModal.water{
    background: blue;
    color: white;
}

.properties-tagByModal.bug{
    background: rgb(57, 117, 8);
    color: white;
}

.properties-tagByModal.electric{
    background: yellow;
}

.properties-tagByModal.ground{
    background: rgba(165, 42, 42, 0.822);
    color: white;
}

.properties-tagByModal.fighting{
    background: rgb(102, 87, 39);
    color: white;
}

.properties-tagByModal.psychic{
    background: rgb(241, 116, 137);
}

.properties-tagByModal.rock{
    background: rgb(153, 153, 41);
    color: white;
}

.properties-tagByModal.ice{
    background: rgb(95, 148, 228);
    color: white;
}

.properties-tagByModal.ghost{
    background: rgb(177, 177, 176);
}

.properties-tagByModal.dragon{
    background: rgb(235, 56, 220);
}

.properties-tagByModal.fairy{
    background: pink;
}

.properties-tagByModal.dark{
    background: black;
    color: white;
}

.properties-tagByModal.steel{
    background: rgb(177, 177, 176);
}

.properties-tagByModal.normal{
    background: grey;
    color: white;
}

@media (max-width:768px){

.modal .modal-content .container{
  flex-direction: column;
}

.modal .modal-content .container .card{
  margin-top: 0;
}

.modal .modal-content .container .card img {
  width: 120px;
  border-radius: 10px;
}

.modal .modal-content .container .card .number-pokemon {
  font-size:15px;
}

.modal .modal-content .container .card .pokemon-name {
  font-size:20px;
}

.modal .modal-content .container .information {
  font-size: 15px;
  margin-left: 0px;
}

.information h2{
  font-size: 18px;
}

}